@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Saira Semi Condensed", sans-serif;
}
.hidden {
  display: none;
}

dialog::backdrop {
  backdrop-filter: sepia(1) blur(3px);
}

.game-space {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}
.main-screen {
  border: 1px black solid;
  border-radius: 25px;
  position: relative;
  width: 900px;
  height: 600px;
  cursor: url("/ressources/hand-point-haut-bien-corner.png"), auto;
  background-image: url("/ressources/Bg-test.png");
  background-size: cover;
}

.target {
  position: absolute;
  height: 70px;
  width: 70px;
  background-image: url("/ressources/target+contrast.png");
  /* border: 1px black solid; */
  border-radius: 50px;
  background-size: cover;
  animation: grow 6s;
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.info-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
  list-style: none;
  border: 1px black solid;
  border-radius: 10px;
}

#first-screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  margin: 0;
}

.board-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
