* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-space {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.main-screen {
  border: 1px black solid;
  border-radius: 25px;
  position: relative;
  width: 900px;
  height: 600px;
}

.target {
  position: absolute;
  height: 70px;
  width: 70px;
  background-image: url("/ressources/target.png");
  border: 1px black solid;
  border-radius: 50px;
  background-size: cover;
  animation: grow 7s;
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
