@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0;
}
body,
html {
  height: 100%;
}
.hidden {
  display: none;
}

dialog::backdrop {
  backdrop-filter: sepia(1) blur(3px);
}

.game-space {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}
.main-screen {
  border: 2px rgb(198, 193, 193) solid;
  border-radius: 25px;
  position: relative;
  width: 1000px;
  height: 600px;
  cursor: url("./../ressources/hand-point-haut-bien-corner.png"), auto;
  background-image: url("./../ressources/Bg-test.png");
  background-size: cover;
}

.target {
  position: absolute;
  height: 70px;
  width: 70px;
  background-image: url("./../ressources/target+contrastRED.png");
  border: 1px black solid;
  border-radius: 50px;
  background-size: cover;
  animation: grow 6s;
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.info-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 25px;
  list-style: none;
  border: 1px black solid;
  border-radius: 10px;
  max-height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#first-screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 0.3em;
}

.board-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.li-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
  padding: 3% 1em;
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, 0.7);
}
#start-btn {
  padding: 2em;
  border-radius: 10px;
}
#clock {
  width: 30px;
  height: 30px;
  padding: 5px;
}
#image-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#wasp {
  width: 30px;
  height: 30px;
  padding: 5px;
}
#image-click {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#heart {
  width: 30px;
  height: 30px;
  padding: 5px;
}
#image-hp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#thumb {
  width: 30px;
  height: 30px;
  padding: 5px;
}
#image-thumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.score-info {
  padding: 2em 0;
  font-size: 1.5em;
  color: white;
}
#score {
  text-align: center;
}

#main-page {
  background-image: url("./../ressources/Pixel-entry.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#game-page {
  background-image: url("./../ressources/635a9160a9392.png");
  background-position: center;
  background-size: cover;
}
